/*Maria Damian, 10/04/2024*/

body {background-color: white;
	  color: #555555}
	  
h1 {background-color: #29485d;
	color: #FFFFFF;
	margin-bottom: 0;}
	
nav {background-color: #C6D02F;}

h2 {color: #407386;}

dt {color: #0194B5;}

.web span {color: #0194B5;}


   